<%- include partials/common/header.ejs%>

<%- include partials/common/main_nav.ejs%>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-2">Sorry Page Not Found!</h1>
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
    </div>
</div>

<%- include partials/common/bottom_nav.ejs%>

<%- include partials/common/footer.ejs%>